.ChartContainer {
  width: 95%;
  text-align: left;
  margin: 25px auto;
  position: relative;
}

/* Tooltip container */
.Tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.Tooltip .TooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #83bdcc;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  text-transform: capitalize;

  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Tooltip:hover .TooltipText {
  visibility: visible;
}
